<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
       
    <add key="BugzillaLoginNumberInCookie" value=""/> <!-- refer 'Finding Cookie.png' in this project-->
    <add key="BugzillaLoginCodeInCookie" value=""/> <!-- refer 'Finding Cookie.png' in this project-->
    
    
    <add key="TFSUri" value="http://xxx:8080/tfs/my%20collection" />
    <add key="ProjectName" value="BugzillaMigrationTest" />
    <add key="WorkItemTypeName" value="Bug" />
    
    <add key="OutputFileLocation" value="C:\BugImportFirstTry" />
    
    
    <!--TFS to TFS-->
    <add key="From_TFSUri" value="http://xxx:8080/tfs/my%20collection" />
    <add key="From_ProjectName" value="xxx" />
    <add key="From_WorkItemTypeName" value="Bug" />

    <add key="To_TFSUri" value="http://xxx:8080/tfs/my%20collection" />
    <add key="To_ProjectName" value="yyy" />
    <add key="To_WorkItemTypeName" value="Bug" />

    <!--Delete WorkItem-->
    <add key="Delete_TFSUri" value="http://xxxx:8080/tfs/my%20collection" />
    <add key="Delete_ProjectName" value="xxx" />


  </appSettings>
</configuration>